
/****** Location ***********/

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -3px 1px -1px #00000040; 
    background-color: $gray-medium;
        &__form {
            display: flex;
            justify-content: center; 
            align-items: center;
            width: 100%;           
            max-width: 500px;       
            padding: 10px; 
            padding-left: 33%;
            
    }
}

.ilocation{
    color: $black;
    padding-right: 0px;
    font-size: 20px;
}

.location__searchbar {
    flex: 1;
    padding: 15px;
    padding-left: 10px;
    color: $black;
    font-size: 16px;
    border: none;
    font-weight: 500;
    background-color: $gray-medium;
    outline: 0;
} 

/****** Reservation ***********/

.explore {
    box-shadow: 0 -4px 1px -1px #00000040;
    background-color: $gray-light;
    margin-top: 0px;
        &__title {
            font-size: 24px;
            text-align: center;
            font-weight: 700;
            margin-top: 4px;
            margin-left: 73px;
            margin-right : 73px;
            padding-top : 20px;
            padding-left: 0px;      
    }
}

.explore__text {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: $black;
    margin-top: 10px;
    margin-bottom: 34px;
}

.container {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.lineargradient {
    font-family: "Roboto", sans-serif;
    display: flex; 
    justify-content: center; 
    align-items: center;  
    border-radius: 25px; 
    @include linear-gradient(193.33deg, $primary-color, -5%, $secondary-color, 95%);
    @include homepage-article-hover-shadow(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)); 
    box-shadow: 0px 4px 10px 0px #00000040;
    color: $white; 
    font-size: 15px;
    height: 45px;
    width: 50%;
        &:hover{
            @include linear-gradient(193.33deg, lighten($primary-color, 10%), -5%, lighten($secondary-color, 10%), 95%); 
            color: $white;
    }
   
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .btn__functioning {
        @include homepage-article-style;
        @include homepage-article-hover-shadow(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3),);
    }
    
    p {
        font-weight: 500;
        padding-left : 5px;

     }
        
     &:hover {
        background-color: lighten($gray-light, 10%); 
        color: $black; 
    }
                      
    }


.badge {
    @include badge-span-style($primary-color, $white, 50%, bold, 10px);
    width: 10px; 
    height: 10px; 
    position: absolute;
    top: 30px;
    left: -15px;
}


i {
    padding-right: 10px;
    color: $gray;
    width : 18px;
}

.fa-mobile-screen-button {
    margin-left: 14px;
}

.restaurant{
    background-color: $gray-light;
    margin-top: 70px;
}

.card {
    position: relative;
    border-radius: 20px;
    margin: 20px;
    background-color: $white;
        &__plate {
            object-fit: cover;
            width:100%;
            height:230px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;    
        }
        .card__heart {
            position: absolute;
            bottom: 30px;
            right: 15px;
            font-size: 24px;
            color: $gray; 
            cursor: pointer;
            transition: color 0.3s ease;      
        }
        .card__text {
            padding-bottom: 1px; 
            padding-left: 15px; 
            margin-top : 0px;
        }       
}

.card-place {
    padding-left:0px;
    margin-top: -15px;
}




.new {
 @include new-span-style($tertiary-color, #008766);
}




