
//* Colors *//

$primary-color: #9356DC;
$secondary-color:#FF79DA;
$tertiary-color: #99E2D0;

//* Background colors *//

$white: #FFFF;
$black: #353535;
$deeperblack :#000000;
$gray: #7E7E7E;
$gray-medium: #EAEAEA;
$gray-light: #F6F6F6;
$linear-gradient: linear-gradient(193.33deg, $primary-color, -11.44%, $secondary-color, 123.93%);

$font-logo-titles: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;

$main-padding-left: 20px;

$icon-hover-color: $primary-color;
$icon-hover-bg-color : $gray

















