.header {
        @include header-icon-style;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding-bottom: 20px;
                &__logo {
                        width: 40%; 
                        height: auto;
         }              
}

//* Media queries *//

@include respond-to(desktop) { 
        .header__logo {
                width: 15%;
                height: auto;
        }
}

@include respond-to(tablet) { 
        .header__logo {
                width: 25%;
                height: auto;
        }
}