//* Loader ustensils rotation *//

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

//* Visibility loader ustensils rotation *//

@keyframes fadeOut {
    0% {
        opacity: 1; 
    }
    90% {
        opacity: 1; 
    }
    100% {
        opacity: 0; 
        visibility: hidden; 
    }
}


//* Hearts fill *//

@keyframes heart-fill {
    0% {
        opacity: 0;
        transform: scale(0.2);
    }

    30% {
        opacity: 0.25;
        transform: scale(0.5);
    }

    60% {
        opacity: 0.75;
        transform: scale(0.85);
    }

    80% {
        opacity: 1;
        transform: scale(1);
    }

    90% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

//* Opacity menu items *//

@keyframes menu-item {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

//* Icon check animation *//

@keyframes check-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes check-rotate-reverse {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
